<!-- Fresh Sausage Form -->

<h4>Fresh Sausage</h4>
<div class="form-group">
	<label>Country Bulk</label>
	<select class="form-control">
		<option value="1">25</option>
		<option value="2">30</option>
		<option value="3">35</option>
		<option value="4">40</option>
		<option value="5">45</option>
	</select>
</div>
<div class="form-group">
	<label>Mild Italian</label>
	<select class="form-control">
		<option value="1">25</option>
		<option value="2">30</option>
		<option value="3">35</option>
		<option value="4">40</option>
		<option value="5">45</option>
	</select>
</div>
<div class="form-group">
	<label>Hot Italian</label>
	<select class="form-control">
		<option value="1">25</option>
		<option value="2">30</option>
		<option value="3">35</option>
		<option value="4">40</option>
		<option value="5">45</option>
	</select>
</div>
<div class="form-group">
	<label>Other</label>
	<input class="form-control" ng-model="other_fresh_sausage">
</div>