@import "bourbon";

@import "resets";
@import "extends";
@import "vars";
@import "utl";
@import "typography";
@import "angular";
@import "forms";
@import "tables";
@import "interactions";

html, body, [role="main"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: "Raleway", sans-serif;
	background-image: url(http://subtlepatterns.com/patterns/white_wall_hash.png);
}

.price:before {
	content: "$";
	display: inline-block;
}

.col-1 {
	padding-right: 0;
}

.home {
	background: url(../images/hero-image.jpg) no-repeat center 40px;
}

.container {
	position:  relative;
	max-width: 960px;
}

[role="main"] {
	padding-top: 40px;
}

#menu-primary {
	background: $color-navyblue;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	ul {
		> li {
		}
	}
}

label {
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
	> input[type="checkbox"] {
		visibility: hidden;

		&:before {
			content: "";
			visibility: visible;
			font-family: "Ionicons";
			line-height: .5em;
			width: 14px;
			height: 14px;
			border: solid thin black;
			// border-top: none;
			// border-right: none;
			display: block;
			font-size: 18px;
			color: $color-navyblue;
			padding-left: 1px;
			// border-radius: 3px;
		}

		&:checked:before {
			content: "\f122";

		}
	}

	> input[type="radio"] {
		visibility: hidden;

		&:before {
			content: "";
			visibility: visible;
			font-family: "Ionicons";
			line-height: .5em;
			width: 14px;
			height: 14px;
			border: solid thin black;
			display: block;
			font-size: 20px;
			border-radius: 7px;
		}
		&:checked:before {
			box-shadow: 0 0 0px 2px white inset, 0 0 1px 6px $color-navyblue inset;
		}
	}
}

.form-label {
	margin: 0;
	margin-bottom: $pad/2;
	margin-top: $pad*2;
}

.menu-style-1 {
	border-right: solid thin #fff;

	> a {
		height: 40px;
		line-height: 40px;
		font-size: 16px;
		padding: 0 $pad*2;
		display: block;
		text-decoration: none;
		color: darken($color-offwhite, 5%);
		text-shadow: 0 -1px rgba(black, 0.6);

		&:hover {
			background: $color-darkblue;
			color: #fff;
		}
	}
	&.active {
		background: $color-darkblue;
	}
	&:hover {
		.sub-menu {
			display: block;
		}
	}
}

.menu-style-2 {
	min-width: 100%;
	
	> a {
		background-color: $color-navyblue;
		display: block;
		padding: 0 $pad*2;
		color: #fff;
		white-space: nowrap;
		height: 40px;
		line-height: 40px;
		&:hover {
			background-color: $color-darkblue;
			text-decoration: none;
		}
	}
}

.selectbox {
	height: 32px;
	line-height: 32px;
	
	position: relative;
	color: $color-darkblue;
	display: block;

	

	&.open {
		> .selectbox-name {
			background: #fff;
			border-radius: 5px 5px 0 0;
			border-bottom: none;
			display: block;
			position: relative;
			box-shadow: 0 -1px $color-offwhite, 1px 0 $color-offwhite, -1px 0 $color-offwhite;

			&:after {
				content: "\f126";
			}
		}
	}

	.selectbox-name {
		text-transform: capitalize;
		color: darken($color-lightgray, 50%);
		font-weight: bold;
		padding: 0 $pad/2;
			&:after {
			content: "\f123";
			font-family: "Ionicons";
			position: absolute;
			color: $color-darkblue;
			right: $pad/2;
		}
	}

	&:hover {
		cursor: pointer;
	}

	.sub-menu {
		width: 100%;
		border-radius: 0 0 5px 5px;
		border-top: none;
		box-shadow: 0 1px $color-offwhite, 1px 0 $color-offwhite, -1px 0 $color-offwhite;

		> li {
			overflow: hidden;

			a {
			padding: 0 $pad/2;
			background: #fff;
			display: block;
			white-space: nowrap;
			background-color: #fff;
			overflow: hidden;
			text-decoration: none;
			color: darken($color-lightgray, 30%);

				&:hover {
					background: $color-darkblue;
					color: #fff;
					text-decoration: none;
				}
			}

			&:last-of-type {
				border-radius: 0 0 5px 5px;
			}
		}
	}
}

.instructions-modal {
	padding: 15px;
}

.module {
	position: relative;


	.module-footer {
		position: absolute;
		width: 100%;
		padding: $pad;
		bottom: 0;
		left: 0;
		border-top: solid thin gray;
		// background-color: $color-lightgray;
		border-bottom-right-radius: $pad/2;
		border-bottom-left-radius: $pad/2;
	}
}

.form-input-number {
	@extend %clearfix;
	display: inline-block;
	vertical-align: middle;

	> * {
		float: left;
	}
	.form-input-value {
		display: block;
		min-width: 2em;
		text-align: center;
		border: solid thin gray;
		height: 25px;
		line-height: 25px;
		padding: 0 4px;
	}
}

.table-head {
	// border-bottom: solid thin gray;
}

[class*="position-"] {
	position: absolute;
	&[class*="top"] {
		top: 0;
	}
	&[class*="right"] {
		right: 0;
	}
}
