@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,500);
nav ul {
  padding: 0;
  margin: 0; }
  nav ul > li {
    margin: 0;
    padding: 0; }

label {
  display: block; }

.menu-inline:after, .float-right:after, .form-input-number:after {
  content: "";
  display: table;
  clear: both; }

.menu-inline > li {
  float: left; }

hr {
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0; }

[class*="width-"] {
  display: inline-block;
  padding-right: 1rem; }
  [class*="width-"][class*='-1'] {
    width: 1rem; }
  [class*="width-"][class*='-2'] {
    width: 2rem; }
  [class*="width-"][class*='-3'] {
    width: 3rem; }
  [class*="width-"][class*='-4'] {
    width: 4rem; }
  [class*="width-"][class*='-5'] {
    width: 5rem; }
  [class*="width-"][class*='-6'] {
    width: 6rem; }
  [class*="width-"][class*='-7'] {
    width: 7rem; }
  [class*="width-"][class*='-8'] {
    width: 8rem; }
  [class*="width-"][class*='-9'] {
    width: 9rem; }
  [class*="width-"][class*='-10'] {
    width: 10rem; }
  [class*="width-"][class*='-11'] {
    width: 11rem; }
  [class*="width-"][class*='-12'] {
    width: 12rem; }
  [class*="width-"][class*='-13'] {
    width: 13rem; }
  [class*="width-"][class*='-14'] {
    width: 14rem; }
  [class*="width-"][class*='-15'] {
    width: 15rem; }
  [class*="width-"][class*='-16'] {
    width: 16rem; }
  [class*="width-"][class*='-17'] {
    width: 17rem; }
  [class*="width-"][class*='-18'] {
    width: 18rem; }
  [class*="width-"][class*='-19'] {
    width: 19rem; }
  [class*="width-"][class*='-20'] {
    width: 20rem; }

.align-right {
  text-align: right; }

ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.unstyled > li {
    list-style: none;
    padding: 0;
    margin: 0; }

[class*="block"] {
  background-color: #fff;
  border: #D9DAD0;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
  box-shadow: 0 1px #D9DAD0, 0 -1px #D9DAD0, 1px 0 #D9DAD0, -1px 0 #D9DAD0; }

.grid-nested {
  margin-bottom: 0; }

li {
  position: relative; }
  li > .sub-menu {
    display: none;
    position: absolute;
    z-index: 1001;
    min-width: 100%; }

li.open > .sub-menu {
  display: block;
  left: 0;
  top: 100%; }

.float-right {
  float: right; }

[class*="inline-"] {
  float: left;
  margin-top: 0; }
  [class*="inline-"][class*="-1"] {
    width: 100%;
    padding-right: 1rem; }
  [class*="inline-"][class*="-1-2"] {
    width: 50%;
    padding-right: 1rem; }
  [class*="inline-"][class*="-1-4"] {
    width: 25%;
    padding-right: 1rem; }
  [class*="inline-"][class*="-3-4"] {
    width: 75%;
    padding-right: 1rem; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  line-height: 1em;
  font-weight: normal; }

h2 {
  margin-top: 2rem; }

.heading-hero {
  margin: 0;
  text-align: center;
  font-size: 36px;
  height: 400px;
  line-height: 400px;
  color: #fff;
  font-weight: normal;
  margin: 0; }

.form-control.ng-invalid:focus {
  outline: red; }

.inset-button {
  position: relative; }
  .inset-button > input {
    padding-right: 75px; }
  .inset-button > button, .inset-button .button {
    position: absolute;
    top: 0;
    right: 0; }

.section {
  margin-bottom: 30px; }

.product {
  margin-bottom: 10px; }

table {
  width: 100%; }
  table thead > tr {
    background-color: #D9DAD0;
    border-bottom: none; }
    table thead > tr > th {
      text-align: left;
      border-right: solid thin white;
      height: 40px;
      line-height: 40px;
      padding: 0 1rem;
      font-size: 10pt; }
  table tbody > tr {
    border-bottom: solid thin #D9DAD0; }
    table tbody > tr:hover {
      background-color: #f5f5f2; }
    table tbody > tr td {
      padding: 0.5rem; }
    table tbody > tr:last-of-type {
      border-bottom: none; }

html, body, [role="main"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-image: url(http://subtlepatterns.com/patterns/white_wall_hash.png); }

.price:before {
  content: "$";
  display: inline-block; }

.col-1 {
  padding-right: 0; }

.home {
  background: url(../images/hero-image.jpg) no-repeat center 40px; }

.container {
  position: relative;
  max-width: 960px; }

[role="main"] {
  padding-top: 40px; }

#menu-primary {
  background: #455868;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  label > input[type="checkbox"] {
    visibility: hidden; }
    label > input[type="checkbox"]:before {
      content: "";
      visibility: visible;
      font-family: "Ionicons";
      line-height: .5em;
      width: 14px;
      height: 14px;
      border: solid thin black;
      display: block;
      font-size: 18px;
      color: #455868;
      padding-left: 1px; }
    label > input[type="checkbox"]:checked:before {
      content: "\f122"; }
  label > input[type="radio"] {
    visibility: hidden; }
    label > input[type="radio"]:before {
      content: "";
      visibility: visible;
      font-family: "Ionicons";
      line-height: .5em;
      width: 14px;
      height: 14px;
      border: solid thin black;
      display: block;
      font-size: 20px;
      border-radius: 7px; }
    label > input[type="radio"]:checked:before {
      box-shadow: 0 0 0px 2px white inset, 0 0 1px 6px #455868 inset; }

.form-label {
  margin: 0;
  margin-bottom: 0.5rem;
  margin-top: 2rem; }

.menu-style-1 {
  border-right: solid thin #fff; }
  .menu-style-1 > a {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 0 2rem;
    display: block;
    text-decoration: none;
    color: #cdcfc2;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.6); }
    .menu-style-1 > a:hover {
      background: #32434F;
      color: #fff; }
  .menu-style-1.active {
    background: #32434F; }
  .menu-style-1:hover .sub-menu {
    display: block; }

.menu-style-2 {
  min-width: 100%; }
  .menu-style-2 > a {
    background-color: #455868;
    display: block;
    padding: 0 2rem;
    color: #fff;
    white-space: nowrap;
    height: 40px;
    line-height: 40px; }
    .menu-style-2 > a:hover {
      background-color: #32434F;
      text-decoration: none; }

.selectbox {
  height: 32px;
  line-height: 32px;
  position: relative;
  color: #32434F;
  display: block; }
  .selectbox.open > .selectbox-name {
    background: #fff;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    display: block;
    position: relative;
    box-shadow: 0 -1px #D9DAD0, 1px 0 #D9DAD0, -1px 0 #D9DAD0; }
    .selectbox.open > .selectbox-name:after {
      content: "\f126"; }
  .selectbox .selectbox-name {
    text-transform: capitalize;
    color: #555555;
    font-weight: bold;
    padding: 0 0.5rem; }
    .selectbox .selectbox-name:after {
      content: "\f123";
      font-family: "Ionicons";
      position: absolute;
      color: #32434F;
      right: 0.5rem; }
  .selectbox:hover {
    cursor: pointer; }
  .selectbox .sub-menu {
    width: 100%;
    border-radius: 0 0 5px 5px;
    border-top: none;
    box-shadow: 0 1px #D9DAD0, 1px 0 #D9DAD0, -1px 0 #D9DAD0; }
    .selectbox .sub-menu > li {
      overflow: hidden; }
      .selectbox .sub-menu > li a {
        padding: 0 0.5rem;
        background: #fff;
        display: block;
        white-space: nowrap;
        background-color: #fff;
        overflow: hidden;
        text-decoration: none;
        color: #888888; }
        .selectbox .sub-menu > li a:hover {
          background: #32434F;
          color: #fff;
          text-decoration: none; }
      .selectbox .sub-menu > li:last-of-type {
        border-radius: 0 0 5px 5px; }

.instructions-modal {
  padding: 15px; }

.module {
  position: relative; }
  .module .module-footer {
    position: absolute;
    width: 100%;
    padding: 1rem;
    bottom: 0;
    left: 0;
    border-top: solid thin gray;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; }

.form-input-number {
  display: inline-block;
  vertical-align: middle; }
  .form-input-number > * {
    float: left; }
  .form-input-number .form-input-value {
    display: block;
    min-width: 2em;
    text-align: center;
    border: solid thin gray;
    height: 25px;
    line-height: 25px;
    padding: 0 4px; }

[class*="position-"] {
  position: absolute; }
  [class*="position-"][class*="top"] {
    top: 0; }
  [class*="position-"][class*="right"] {
    right: 0; }
