<h2 page-name></h2>
	<ul class="unstyled">
		<div class="col-1-2">
			<div class="module block">
				<dl class="dl-horizontal">
					<dt>Animal</dt>
					<dd>{{ animal }}</dd>

					<dt>Order Created</dt>
					<dd>{{ created }}</dd>

					<dt>Customer</dt>
					<dd>{{ name }}</dd>

					<dt>Total Cost</dt>
					<dd>{{ price | currency }}</dd>
				</dl>
				<dl class="dl-horizontal">
					<div ng-repeat="product in products">
						<dt>{{ product.category }} - {{ product.name }}</dt>
						<dd>{{ product.amount }}lbs</dd>
					</div>
					
				</dl>
				<dl class="dl-horizontal">
					<div ng-repeat="(key, value) in instructions | orderBy: key ">
						<dt>{{ key | camelCaseToHuman }}</dt>
						<dd ng-bind="returnValue(key)"></dd>
					</div>
				</dl>
			</div>
		</div>
	</ul>