<h2 page-name></h2>
<div class="row">
	<div class="col-xs-12">
		<a ui-sref="editCusttingInstruction({inst_id: instruction_id})">Edit</a>
	</div>
</div>
<div id="print">
	<div class="row">
		<div class="col-xs-12">
			<table class="table module block">
				<thead class="table-head">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cust in customer">
						<td>{{ cust.first_name }}</td>
						<td>{{ cust.last_name }}</td>
						<td>{{ cust.email }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<section>
				<h4>Details</h4>
				<table class="module block">
					<tr>
						<td></td>
						<td>Animal</td>
						<td>{{ animal }}</td>
					</tr>
					<tr>
						<td></td>
						<td>Portion</td>
						<td>{{ portion }}</td>
					</tr>
					<tr>
						<td></td>
						<td>Split</td>
						<td>{{ split }}</td>
					</tr>
					<tr>
						<td></td>
						<td>Order Created</td>
						<td>{{ created }}</td>
					</tr>
					<tr>
						<td></td>
						<td>Total Cost</td>
						<td>{{ price | currency }}</td>
					</tr>
				</table>
			</section>
		</div>
		<div class="col-md-8">
				<h4>Instructions</h4>
				<table class="module block">
					<thead>
						<tr>
							<th></th>
							<th>Product</th>
							<th>Instruction</th>
						</tr>
					</thead>
					<tr ng-repeat="(key, value) in instructions | orderBy: key ">
						<td align="center"><input type="checkbox"></td>
						<td>{{ key | camelCaseToHuman }}</td>
						<td ng-bind="returnValue(key)"></td>
					</tr>
				</table>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<section>
				<h4 ng-show="products">Products</h4>
				<table class="module block" ng-show="products">
					<thead>
						<tr>
							<th></th>
							<th>Category</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tr ng-repeat="product in products" class="products">
						<td align="center"><input type="checkbox" ng-module="product.finished" value="1"></td>
						<td>{{ product.category }} - {{ product.name }}</td>
						<td>{{ product.amount }}lbs</td>
					</tr>
				</table>
			</section>
		</div>
	</div>
</div>
	<button class="btn btn-primary" ng-click="print('print')">Print</button>