<!-- Cutting Instructions Form -->
<h2 page-name></h2>
<div class="block">
	<form role="form" class="form-horizontal">
		<div class="form-group">
			<div class="col-md-6 inset-button">
		  	<input type="search" ng-model="filter" placeholder="Search Users..." class="form-control">
		    <button class="btn btn-primary"ng-click="filter = ''">Clear</button>
	  	</div>
	  	<div class="col-md-6">
	  		<!-- <button class="btn btn-primary pull-right" ng-click="launchModal()">+ Add New</button> -->
	  	</div>
  	</div>
	</form>
	<table class="table">
		<thead class="table-head">
			<tr>
				<th width="5%"></th>
				<th>Created</th>
				<th>Animal</th>
				<th>Owner</th>
				<th>Price</th>
				<th>Weight</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="instruction in instructions | orderBy: 'animal' | filter:filter:strict " ng-click="">
				<td><a class="ion-close" ng-really-message="Are you sure?" ng-really-click="deleteInstruction(instruction._id)"></a></td>
				<td>{{ instruction.created }}</td>
				<td>{{ instruction.animal }}</td>
				<td ng-bind="customerName(instruction.customer_id)"></td>
				<td>{{ instruction.price | currency }}</td>
				<td>{{ instruction.weight }} lbs</td>
				<td><a ui-sref="instruction({inst_id: instruction._id})">Details</a></td>
			</tr>
		</tbody>
	</table>
</div>

<!-- ng-click="changeSelect(animal.name, animal.slug)" -->