<h2 page-name></h2>
<form ng-submit="submit()" role="form">
	<div class="block-footer">
		<div class="grid">
			<div class="col-1-2">
				<div class="grid">
					<div class="col-1-2">
						<label>Fist Name</label>
						<input type="text" ng-model="first_name">
					</div>
					<div class="col-1-2">
						<label>Last Name</label>
						<input type="text" ng-model="last_name">
					</div>
				</div>
				<div class="grid">
					<div class="col-1-2">
						<label>Phone Number</label>
						<input type="text" ng-model="phone">
					</div>
					<div class="col-1-2">
						<label>Email Address</label>
						<input type="email" ng-model="email"></input>
					</div>
				</div>
			</div>
			<div class="col-1-2">
				<div class="grid-nested">
					<div class="col-1">
						<label>Street</label>
						<input type="text" ng-model="street">
					</div>
					<div class="col-1">
						<label>Street</label>
						<input type="text" ng-model="street_2">
					</div>
					<div class="col-1">
						<div class="grid">
							<div class="col-1-2">
								<label>City</label>
								<input type="text" ng-model="city">
							</div>
							<div class="col-1-4">
								<label>State</label>
								<select ng-model="state" ng-options="option.abbreviation for option in UsStates"></select>
							</div>
							<div class="col-1-4">
								<label>Zip</label>
								<input type="text" ng-model="zip">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
				<div class="col-1-6 float-right">
					<input class="float-right" type="submit" value="Add New" />
				</div>
		</footer>
	</div>
</form>

<h2>Current Customers</h2>
<div class="block">
	<form class="inline" role="form">
		<div class="input-group">
	  	<input class="inline" type="search"  ng-model="filterCustomers" placeholder="Search Users...">
	    <button class="" ng-click="clearForm()">Clear</button>
  	</div>
	</form>
	<table class="table">
		<thead class="table-head">
			<tr>
				<th>Remove</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="customer in customers | filter:filterCustomers:strict" ng-click="">
				<td><button class="btn" ng-click="removeCustomer(customer.indexkey)">X</button></td>
				<td>{{ customer.first_name }}</td>
				<td>{{ customer.last_name }}</td>
				<td>{{ customer.phone }}</td>
				<td>{{ customer.email }}</td>
			</tr>
		</tbody>
	</table>
</div>