<div class="instructions-modal">
	<header class="header">
		<h3>New Customer</h3>
		<!-- <i class="float-right ion-close-round button" ng-click="remove()"></i> -->
	</header>
	<form ng-submit="submit()" role="form">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Fist Name</label>
							<input class="form-control" type="text" ng-model="customerData.first_name" ng-required="true">
						</div>
						<div class="col-md-6">
							<label class="control-label">Last Name</label>
							<input class="form-control" type="text" ng-model="customerData.last_name">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">Home Number</label>
							<input class="form-control" type="text" ng-model="customerData.home_phone">
						</div>
						<div class="col-md-6">
							<label class="control-label">Cell Number</label>
							<input class="form-control" type="text" ng-model="customerData.cell_phone">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<label class="control-label">Email Address</label>
							<input class="form-control" type="email" ng-model="customerData.email"></input>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<label class="control-label">Street</label>
							<input class="form-control" type="text" ng-model="customerData.street">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<label class="control-label">Street</label>
							<input class="form-control" type="text" ng-model="customerData.street_cont">
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
							<label class="control-label">City</label>
							<input class="form-control" type="text" ng-model="customerData.city">
						</div>
						<div class="col-md-3">
							<label class="control-label">State</label>
							<select class="form-control" ng-model="customerData.state" ng-options="option.abbreviation as option.abbreviation for option in UsStates"></select>
						</div>
						<div class="col-md-3">
							<label class="control-label">Zip</label>
							<input class="form-control" type="text" ng-model="customerData.zip">
						</div>
					</div>
				</div>
			</div>
		</div>
		<input class="btn btn-primary" type="submit" value="Save" />
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</form>
</div>