<div class="instructions-modal">
	<header class="header">
		<h3>New Cutting Instructions</h3>
		<!-- <i class="float-right ion-close-round button" ng-click="remove()"></i> -->
	</header>
	<form name="cuttingInstructions" class="form-horizontal" role="form">
		<div class="form-group">
			<div class="col-md-6">
				<nav>
					<ul class="grid" ng-init="select='Select Animal';">
						<li class="dropdown selectbox"
							ng-class="{'open': isActive}"
							ng-init="isActive=false;"
							ng-click="isActive = !isActive">

							<span class="selectbox-name">{{ animal_type }}</span>
							<ul class="sub-menu">
								<li ng-repeat="animal in animals | orderBy: 'name' ">
									<a ng-click="animalType(animal.form, animal.name)" >{{ animal.name }}</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-md-6">
				<select ng-model="customer_id" class="form-control" ng-options="option._id as (option.first_name + ' ' + option.last_name) for option in customers | orderBy: 'last_name'">
					<option value="">-- Select Customer --</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-6">
				<label>Weight</label>
				<input class="form-control" type="text" ng-model="formValues.weight">	
			</div>
			<div class="col-md-6">
				<label>Price Per Pound</label>
				<input class="form-control" type="text" value="{{ formValues.pricePerPound }} " disabled>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div  ng-repeat="form in forms" class="section">
					<h4 class="form-label">{{ form.name }}</h4>
					<div class="form-group">	
						<form-template></form-template>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<div ng-repeat="(key, value) in formValues">
						<dt>{{ key | camelCaseToHuman }}</dt>
						<dd> {{ value }}</dd>
					</div>
					<div>
						<dt>Total</dt>
						<dd ng-bind="totalCost()"></dd>
					</div>
				</dl>
			</div>
		</div>
		<button ng-click="submit()" class="btn btn-primary">Submit</button>
		<button ng-click="cancel()" class="btn btn-warning">Cancel</button>
	</form>
</div>