<nav id="menu-primary" ng-controller="headerCtrl">
	<ul class="menu-inline">
		<li class="menu-style-1" ui-sref-active="active"><a ui-sref="home">Home</a></li>
		<li class="menu-style-1" ui-sref-active="active"><a ui-sref="instructions">Instructions <i class="ion-arrow-down-b"></i></a>
			<ul class="sub-menu">
				<li class="menu-style-2" ng-repeat="(key, value) in animals | orderBy: 'name'">
					<a ui-sref="newCusttingInstructions({forms_id: key})"><span>+</span> {{ value.name }}</a>
				</li>
			</ul>
		</li>
		<li class="menu-style-1" ui-sref-active="active"><a ui-sref="customers">Customers</a></li>
	</ul>
	<a class="btn pull-right" ng-click="logout()" style="color: #fff;" ng-show="$root.loggedIn">Log Out</a>
</nav>